.subscription-terms .subtitle.subscription-terms-subtitle {
  margin-bottom: 5px;
}

.table.subscription-terms-table th {
  font-weight: normal;
}

.table.subscription-terms-table td {
  text-align: right;
}
