.apis-detail-subscriptions {
  margin-top: 30px;
}

.apis-detail-subscriptions .subtitle.apis-detail-subscriptions-title {
  margin-bottom: 10px;
}

.apis-detail-subscription-table-credits {
  text-align: right;
}
