.subscription-detail-contract-link {
  font-size: 0.9em;
}

.subscription-detail-credits-row {
  display: flex;
  align-items: center;
}

.subscription-detail-add-credit-button {
  margin-left: 20px;
}

.subscription-detail .detail-label {
  display: inline-block;
  width: 160px;
  text-align: right;
  margin: 5px 5px 5px 0;
}
