.modal.subscription-create-modal {
  align-items: flex-start;
  padding-top: 10%;
}

.subscription-create-modal-background {
  opacity: 0.4;
}

.subscription-create-modal-box {
  margin: 4px;
}

.subscription-create-modal-credits-row {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.subscription-create-modal-credits-row > *:not(:first-child) {
  margin-left: 20px;
}

.subscription-create-modal-form::after {
  display: block;
  content: '';
  clear: both;
}

.subscription-create-modal-buttons {
  margin-top: 30px;
}
