.box.subscriptions-list-box {
  border-radius: 4px;
  margin-bottom: 20px;
}

.box.subscriptions-list-box p {
  margin: 10px 0 0 0;
}

.subscriptions-list-name {
  font-size: 1.1em;
  font-weight: bold;
}

.subscriptions-list-url {
  margin-left: 10px;
  font-style: italic;
}
