body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  padding-top: 20px;
}

.detail-label {
  font-weight: bold;
  color: #555;
}

.detail-value {
  margin-left: 5px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
